# go-llama build artifacts
go-llama.cpp
binding.o
libbinding.a

# llama models
models

# llama-cli build binary
llama-cli

# make test reports
checkstyle-report.xml 
profile.cov
coverage.xml
yamllint-checkstyle.xml