[submodule "docs/themes/hugo-theme-relearn"]
	path = docs/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "docs/themes/lotusdocs"]
	path = docs/themes/lotusdocs
	url = https://github.com/colinwilson/lotusdocs
