# go-llama build artifacts
go-llama
go-gpt4all-j
go-gpt2

# LocalAI build binary
LocalAI
local-ai
# prevent above rules from omitting the helm chart
!charts/*

# Ignore models
models/*.bin
models/ggml-*
test-models/