--extra-index-url https://download.pytorch.org/whl/rocm7.0
torch==2.10.0+rocm7.0
transformers==4.56.1
accelerate
librosa==0.11.0
neucodec>=0.0.4
phonemizer==3.3.0
soundfile==0.13.1
resemble-perth==1.0.1
llama-cpp-python