grpcio==1.65.5
protobuf
librosa
faster-whisper
pydub==0.25.1
wavmark==0.0.3
numpy
eng_to_ipa==0.0.2
inflect
unidecode
whisper-timestamped
openai
python-dotenv
pypinyin
cn2an==0.5.22
jieba==0.42.1
gradio
langid==1.1.6
git+https://github.com/myshell-ai/MeloTTS.git
git+https://github.com/myshell-ai/OpenVoice.git
