grpcio==1.68.1
protobuf
librosa
faster-whisper
inflect
unidecode
openai
python-dotenv
pypinyin
cn2an==0.5.22
numpy==1.22.0
networkx==2.8.8
jieba==0.42.1
gradio==3.48.0
langid==1.1.6
llvmlite==0.43.0
setuptools