{{ if eq .RoleName "user" }} [[INST]] {{ if le .MessageIndex 1 }} <<SYS>>
{{ .SystemPrompt}}
<</SYS>> {{ end }}
{{ .Content }} [/INST]
{{ else if eq .RoleName "assistant" }}
{{ .Content }}
{{ end }}